<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <style >
      .block h3{
      margin-top: 10px;
      color: #333;
      }
      .one{
        width: 100%;
        float: left;
      }
      .block{
        padding: 1em;
        background-color: white;
        width: 35%;
        margin: 78px;
        float: left;
        box-shadow: -1px 1px 5px #666;
      }
    </style>
  </head>
  <body>
    {{> userheader}}
    <div class="">
    {{#each names}}
    <div class="block">
     <p style="color:grey;">{{this.subject}}</p>
     <h3>{{this.name}}</h3>
     <div class="w3-border">
         <div class="w3-blue" style="height:7px;width:20%"></div>
     </div><br>
     <a href="/userchallengequiz?name={{{this.name}}}" class="one"><button type="button" class="btn btn-info">Compete</button>  </a>
   </div>
    {{/each}}
    </div>
  </body>
</html>
